.header{
    background-color: rgb(115, 17, 196);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    margin: 0 80px;
}

.filterbtn{
    height: 35px;
}

.logocontainer{
    padding: 15px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    margin:0 10px;
    padding: 0 10px;
}
.search{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.resContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 80px;
}

.resCard{
     width: 14rem;
     height: 16.5rem;
     border: 1px solid black;
     padding: 0.6rem;
     margin: 0.6rem 3rem;
 }
.resCard:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
 }

 .cardelement{
     padding: 0 10px;
 }

.resCard h4, p{
    margin: 3px 0;
}
